.item {
    color: #f8f8f8;
    background-color: #0d0d0d;
    border-radius: 20px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
}

.item__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-color: #f0f0f0;
}

.item__header--img {
    height: 300px;
}

.item__section {
    padding: 20px 40px;
}

.item__title {
    font-size: 30px;
}

.item__info {
    margin-top: 20px;
}

.item__info:first-child {
    margin-top: 0;
}

.item__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.item__footer--option {
    background-color: #ffbf00;
    padding: 20px 30px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.item__footer--option:hover {
    background-color: #f0f0f0;
}